:root {
	--foreground-rgb: 255, 0, 255;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrollbars */
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(255, 134, 255);
	background: linear-gradient(
		45deg,
		rgba(255, 134, 255, 1) 0%,
		rgba(132, 134, 240, 1) 50%,
		rgba(0, 255, 255, 1) 100%
	);
	/* background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb)); */
}

.text-resize {
	font-size: clamp(
		0.8rem,
		2vw,
		2.5rem
	); /* Adjusted for better scaling on small devices */
}
