:root {
	--foreground-rgb: 255, 0, 255;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.fullscreen-background {
	position: absolute; /* Ensure the background is fixed */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh; /* Cover the entire viewport */
	z-index: -1; /* Ensure it's behind other content */
	object-fit: cover; /* Cover the entire area without stretching */
}

.text-resize {
	font-size: clamp(
		0.8rem,
		2vw,
		2.5rem
	); /* Adjusted for better scaling on small devices */
}

.glow-text {
	color: #fff; /* Or any color you prefer */
	text-shadow: 0 0 10px rgba(255, 0, 255, 0.8),
		0 0 20px rgba(255, 0, 255, 0.6), 0 0 30px rgba(255, 0, 255, 0.4),
		0 0 40px rgba(255, 0, 255, 0.2);
	animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px rgba(255, 0, 255, 0.8),
			0 0 20px rgba(255, 0, 255, 0.6), 0 0 30px rgba(255, 0, 255, 0.4),
			0 0 40px rgba(255, 0, 255, 0.2);
	}
	to {
		text-shadow: 0 0 20px rgba(255, 0, 255, 1),
			0 0 30px rgba(255, 0, 255, 0.8), 0 0 40px rgba(255, 0, 255, 0.6),
			0 0 50px rgba(255, 0, 255, 0.4);
	}
}

.svg-container {
	width: 100%;
	height: 50vh; /* Adjust the height as needed */
	display: flex;
	align-items: center; /* Vertically center the content */
	justify-content: center; /* Horizontally center the content */
}

.svg-container svg {
	width: 100%;
	height: 100%;
}

.subtext {
	position: relative; /* Ensure it's positioned relative to its container */
	top: -50px; /* Adjust this value to move the text up if needed */
	margin-top: 0;
	z-index: 20;
}

.svg-container path {
	stroke: white; /* Choose the color for your drawing */
	stroke-width: 5; /* Adjust the stroke width as needed */
	stroke-dasharray: 1350; /* Large enough to cover the entire length of the path */
	stroke-dashoffset: 1350;
	animation: draw 5s ease-in-out forwards; /* Adjust duration as needed */
}

.svg-pathfill {
	fill: transparent;
	animation: pathfill 2.5s ease-in-out 2.5s forwards;
}

@keyframes pathfill {
	to {
		fill: rgba(255, 255, 255, 1);
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes slideCursor {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

.typewriter h1 {
	position: relative;
	overflow: visible; /* Ensure the overflow is visible */
	white-space: nowrap;
	color: white; /* Set text color */
	clip-path: inset(0 100% 0 0); /* Initially hide text */
	animation: slideCursor 2s ease 2s forwards; /* 4s duration, 2s delay */
}
