@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@theme {
	--font-display: "Oswald", "sans-serif"; 
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(255, 134, 255);
	background: linear-gradient(
		45deg,
		rgba(255, 134, 255, 1) 0%,
		rgba(132, 134, 240, 1) 50%,
		rgba(0, 255, 255, 1) 100%
	);
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.text-resize {
	font-size: clamp(0.1rem, 1.25vw, 3rem); /* Adjust these values as needed */
}

/* Animations */
/* Fade In */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 2s ease-in-out;
}

.svg-container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
}

.svg-container svg {
	width: 100%;
	height: auto;
	max-height: 50vh;
}

.subtext {
	position: relative; /* Ensure it's positioned relative to its container */
	top: -50px; /* Adjust this value to move the text up if needed */
	margin-top: 0;
	z-index: 20;
}

.svg-container path {
	stroke: white; /* Choose the color for your drawing */
	stroke-width: 5; /* Adjust the stroke width as needed */
	stroke-dasharray: 1350; /* Large enough to cover the entire length of the path */
	stroke-dashoffset: 1350;
	animation: draw 5s ease-in-out forwards; /* Adjust duration as needed */
}

.svg-pathfill {
	fill: transparent;
	animation: pathfill 2.5s ease-in-out 2.5s forwards;
}

@keyframes pathfill {
	to {
		fill: rgba(255, 255, 255, 1);
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes slideCursor {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

.typewriter h1 {
	position: relative;
	overflow: visible; /* Ensure the overflow is visible */
	white-space: nowrap;
	color: white; /* Set text color */
	clip-path: inset(0 100% 0 0); /* Initially hide text */
	animation: slideCursor 2s ease 2s forwards; /* 4s duration, 2s delay */
}